@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');

* {
    font-family: Poppins;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h2{
    font-size: clamp(20px, 3vw, 29px);
    font-weight: 700;
    color: rgb(0, 127, 127);
    margin-bottom: 23px;
}

h3 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 600;
    color: rgb(0, 127, 127);
}

section {
    margin-bottom: 50px;
    scroll-margin-top: 35px;
}

main {
    margin: 0 150px;
}


/* Header Styles */
h1 {
    color: rgb(0, 127, 127);
    font-weight: 900;
    font-size: clamp(44px, 8vw, 80px);
    margin-top: -65px;
}

.subtitulo {
    font-size: clamp(20px, 3.5vw, 35px);
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}

.header-content {
    margin: 105px 0 20px 0;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-header-content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    gap: 20px;
    width: 100%;
    z-index: 1000;
    padding: 0 150px;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav ul li a {
    border-bottom: 4px solid rgb(0, 127, 127);
    display: block;
    font-size: clamp(12px, 2vw, 20px);
    color: rgb(0, 127, 127);
    transition: 0.4s ease-in-out;
    padding: 23px;
    font-weight: 400;
}

nav ul li a:hover {
    background-color: rgb(0, 127, 127);
    color: #fff;
}

.info-button {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 127, 127);
    color: #ffffff;
    font-size: clamp(15px,2vw,19px);
    font-weight: 400;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    padding: 15px 5px;
    transition: 0.4s ease-in-out;
}

.info-button:hover,.enviar:hover {
    background-color: rgb(40, 127, 127);
    box-shadow: -3px -3px 0px rgb(0, 0, 0);
    transform: scale(1.1);
}

/*Info Personal Section*/

.informacion-personal-content p strong{
    font-weight: 600;
}

.formacion-academica{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    background-color: rgb(232, 232, 232);
} 

.formacion-academica h3{
    font-size: clamp(17px, 3vw, 25px);
    color: rgb(0, 127, 127);    
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.formacion-academica p{
    font-size: clamp(13px, 2vw, 16px);
    color: #000000;
    max-width: 45%;
    margin: 0 auto;
    text-align: center;
}

.formacion-academica iframe {
    width: 70%;
    height: 300px;
    margin: 0 auto;
}

/* Conocimientos Técnicos y Habilidades Blandas Section */

.conocimientos-tecnicos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 20px 14vw;
    gap: 60px;
    text-align: center;
    justify-content: center;
}

.conocimientos-tecnicos li {
    display: flex;
    border-radius: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15);
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
}

.conocimientos-tecnicos li img {
    width: 60%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.conocimientos-tecnicos li img:hover {
    transform: scale(1.1);
}

.hb-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18vw 0 18vw;
    gap: 50px;
    width: 100%;
}

.hb-text {
    width: 100%;
}

.hb-text li {
    background-color: rgb(0, 127, 127);
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
    text-align: center;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: clamp(16px,2vw,20px);
    font-weight: 500;
}

/* Experiencia Section */

#experiencia ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
    padding: 0 40px;
}

#experiencia ul li{
    width: 100%;
}

.proyecto-content {
    padding-top: 30px;
}

.proyecto-content h3 {
    font-size: clamp(15px, 3vw, 22px);
}

.proyecto-content p {
    margin-top: 10px;
    font-size: clamp(15px, 2vw, 18px);
}

.proyecto {
    display: flex;
    flex-direction: row;
    padding: 25px 35px;
    gap: 40px;
    box-shadow: 5px 5px 5px rgb(0, 127, 127), -5px -5px 5px rgb(210, 234, 231);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.proyecto:hover {
    transform:scale(1.06);
    box-shadow: -5px -5px 5px rgb(0, 127, 127), 5px 5px 5px rgb(210, 234, 231);
}

.contenedor-visual{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.proyecto-content {
    width: 100%;
}

.contenedor-visual iframe , .contenedor-visual img{
    width: 100%;
    max-height: 200px;
    border: none;
    object-fit: cover;
}

.contenedor-visual a {
    word-wrap: break-word;
    font-size: clamp(11px, 2vw, 15px);
    color: rgb(0, 127, 127);
}

/* Contact Section */

.contact-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.formulario-contacto form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.enviar {
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 400;
    border: none;
    background-color: rgb(0, 127, 127);
    font-size: clamp(13px,1.8vw,17px);
    color: #ffffff;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    padding: 12px 30px;
    transition: 0.4s ease-in-out;
}

/*.enviar:hover se encuentra más arriba en Header Styles*/

.formulario-contacto label{
    color: rgb(0, 127, 127);
    font-weight: 400;
}

.formulario-contacto input, .formulario-contacto textarea {
    font-size: clamp(15px,2vw,15px);
    padding: 10px;
}

.contacto-presencial, .formulario-contacto {
    width: 100%;
}

.contacto-presencial {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto-presencial p {
    text-align: center;
}

#mapa {
    width: 100%;
    height: 360px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    gap: 10px;
}

.contacto-footer {
    color: #fff;
}

footer img {
    width: 22px;
    height: 22px;
}

footer address,.phone {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer p , footer a{
    font-size: clamp(14px, 2vw, 18px);
}

.phone a{
    color: rgb(255, 255, 255);
}

@media(max-width: 370px){
    h1{
        font-size: 37px;
    }
}

@media(max-width: 806px){
    h1{
        margin-top: -50px;
    }

    .info-button {
        width: 50%;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
    }

    .proyecto {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .proyecto-content,.video-proyecto-contenedor {
        width: 100%;
        text-align: center;
    }

    .formacion-academica iframe {
        width: 80%;
        height: 200px;
    }

    .conocimientos-tecnicos li{
        width: 50%;
        margin: 0 auto;
    }

    .hb-container{
        padding: 10px 0 0 0;
    }

    .hb-container .hb-text li {
        padding: 15px 10px;
    }

}

@media(max-width: 500px){
    .header-content{
        margin-top: 85px;
    }
}

@media(max-width: 1020px) {

    .formacion-academica p{
        max-width: 90%;
        margin: 0 auto;
    }

    #experiencia ul{
        padding: 0;
    }

}

@media(max-width:1200px){
    main {
        margin: 0 50px;
    }
}
